*{
    text-align: center;
}
.container{
    margin-top: 100px;
}
.input_space{
    margin-bottom: 10px;
}
input{
    height: 30px;
    width: 50%;
    font-size: 18px;
}
button{
    height: 30px;
    width: 15%;
    background-color:grey;
    border: none;
}
.logout{
    margin-right: 5px;
    color: white;
    font-weight: 400;
}
.back{
    margin-right: 5px;
    color: white;
    background-color: rgb(19, 103, 142);
    font-weight: 400;
}