*{
  margin: 0;
  padding: 0;
  font-family: 'Fuzzy Bubbles', cursive;
  }

  body{  
    background: linear-gradient(72deg, rgb(44, 222, 242) 0.00%, rgb(156, 43, 171) 35.00%, rgb(39, 43, 44) 100.00%);
    height: 100vh;
  }

.container{
  display: flex;
  justify-content: space-between;
  place-items: center;
  flex-direction: column;
  width: 40%;
  margin: 30px auto;
  background-color: black;
  color: white;
  box-shadow: 7px 7px 7px rgb(16, 183, 224, 0.5);
  border: 1px black;
  border-radius: 5px;
}

.input_space{
  margin: 12px;
  width: 900px;
}

input{
  border: 2px solid rgba(16, 183, 224, 0.7);
  border-radius:2px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.btn{
  width: 30%;
  color: rgb(22, 220, 255);
  margin: 15px;
}

button:hover{
  background-color: rgb(212, 58, 66); 
}

